body 
{
  background-color: #E3E7D3;
  color: #25291C
}

header 
{
  background-color: #25291C;
}

h3 
{
  margin-bottom: 0;
  color: #BDC2BF;
}

div > p 
{
  font-size: 1.15rem;
}

div > p.text-center.mini
{
  font-size: 13px;
}

footer 
{
  background-color: #BDC2BF;
}

footer p.text-center.mini
{
  margin: 0;
  font-size: 12px;
}